*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.contain{
    background-color: rgba(1, 15, 36, 0.972);
    color: antiquewhite;
    height: 450px;
    width: 430px;
    border-radius: 20px;
    text-align: center;
}

#output, #locate{
    text-align: center;
    margin: 20px 0;
}

#city-input{
    height: 55px;
    width: 250px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 60px;
    color: rgba(1, 15, 36, 0.972);
}

#SearchBtn{
    height: 55px;
    min-width: 110px;
    font-size: 18px;
    border-radius: 10px;
}

p{
    padding: 3px 0;
    font-size: 17px;
    font-weight: 520;
}

span{
    padding: 3px 0;
    color: rgb(1, 43, 56);
    font-size: 20px;
    font-weight: 650;
    color: rgb(255, 177, 74);
}

h3{
    padding: 3px 0;
    margin: 15px 0;
    padding: 15px 0;
    color: rgb(255, 177, 74);
}